@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 1vh; */
    /* height: 50em; */
    /* background-image: url("./media/background/photo-1554177255-61502b352de3.avif"); */
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* background-color: antiquewhite; */

}

textarea {
    border: none;
    outline: none;
    padding: 1em;
}

.navbar {
    margin: 0.2em 0.2em;
    padding: 0.1em 0.2em;
    font-size: 3em;
    font-weight: bold;
    /* background-color: #b0b09b; */
    color: rgb(0, 0, 0);
    border-radius: 0.175em;

    align-items: center;
    text-align: center;

    background-color: rgb(245 245 245);

    /* background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */

}


.copyit {
    /* background-color: antiquewhite; */
    /* height: 30em; */
    /* margin: 1.3em 0.8em; */
    /* padding: 0.1em 0.2em; */
    border-radius: 0.8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 1em;
    padding: 1em;
}

.code-container {
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    /* padding: 15px; */
    /* margin-bottom: 10px; */
    padding: 1em;
}

pre {
    margin: 0;
}

#code-snippet{
    display: flex;
    text-align: left;
    overflow: auto;
    width: 100%;
}
.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.textareaMain {
    /* background-color: aliceblue; */
    /* width: 71em; */
    height: 30em;
    margin: 1.3em 0.8em;
    /* padding: 0.1em 0.2em; */
    border-radius: 0.8em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.follow {
    /* background-color: cadetblue; */
    height: 100%;
    width: 40%;
    margin: 0em 0.50em;
    /* padding: 0.5em; */
    border-radius: 0.66em;

    /* background: rgba(255,255,255,0.25);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#followers-text {
    height: 100%;
    /* width: 100%; */
    /* background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */

    border-radius: 0.8em;
    background-color: rgb(212 212 212);
}

#followings-text {
    height: 100%;
    /* width: 100%; */
    /* background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    border-radius: 0.8em;
    background-color: rgb(212 212 212);

}

.texts {
    margin: 1em;
    color: rgb(0, 0, 0);
}

.buttonarea {
    /* background-color: orange; */
    height: 3em;

    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    /* margin: 2em; */
}

.btn {
    color: rgb(0, 0, 0);
    background-color: rgb(245 245 245);
    text-decoration: none;
    width: 30em;
    height: 100%;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px solid transparent;
    border-radius: 0.5em;

    /* background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */

    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: rgb(255, 31, 31);
    border-bottom: 5px solid rgb(255, 31, 31);
}

#result {
    height: auto;
    /* background-color: orange; */
    margin: 3em;
    padding: 2em;
    border-radius: 0.8em;

    background-color: rgb(245 245 245);

    /* background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */

    word-spacing: 3em;
    line-height: 3em;
}